.bgm{
    background-color: black;
    color: white;
    background-size: 100% 100%;
    background-position: fixed;
    width: 100%;
    height: 650px;
}
.headerset{
    display: flex;
    padding-top:50px ;
    box-sizing: 1050px 745px;
    justify-content: center;
    align-items: center;
}
.headerset h1{
    font-size: 150px;
    font-weight: bold;
}
.aboutus{
    height: 726px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin:auto;
}
.prg{
    padding: 0px 65px;
}
.ourservices{
     height: 726px;
    
}
.sr{
    display: flex;
    justify-content:center;
}